<h1>Burgers</h1>


<div class="row">
    <div class="col-sm-6">
        <h2>Burgers To Eat</h2> 
        {{#each burgers}}
        {{#unless devoured}}
        <p>
            {{id}} 
            {{burger_name}}
        </p>
        <button class="devour_me" data-id="{{id}}">Devour!</button>
        {{/unless}}
        {{/each}}
      
  </div>


    
    <div class="col-sm-6">
        <h2>Burgers That Have Been Eaten!</h2>
    </div>
</div>

    <div class="row">
        <div class="center col-sm-12">
            <h2>Add a Burger!</h2>
            <form class="create-update-form">

            <div "form-group">
                <p>Enter the burger you want to devour and click submit!</p>
                <input type="text" id="ca" name="burger_name">
            </div>

            <button type="submit">Add Burger</button>
            </form>
        </div>
    </div>
